@{
    DefenceStore.Models.Customer cust = ((DefenceStore.Models.Customer)Session["Customer"]);
}
<ul class="nav navbar-nav bd-navbar-nav flex-row navbar-right">
        @if (cust == null)
        {
            <li class="nav-item">

            @Html.ActionLink("Register", "Create", "Customers", new { area = "" }, new { @class = "navLink" })

            
        </li>
        <li class="nav-item">
            <li>@Html.ActionLink("Login", "CustLogin", "Customers", new { area = "" }, new { @class = "navLink" })</li>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a style="color: white !important; font-size: 18px; pointer-events: none;" href="#">
                Welcome @(cust.FirstName + " " + cust.LastName)
            </a>
        </li>
        <li class="nav-item" style="margin-right: 10px">
            @Html.ActionLink("Log Out", "Logout", "Customers", new { area = "" }, new { @class = "navLink" })
        </li>
    }
</ul>
