
@{
    ViewBag.Title = "Index";
}

<h2>Statistics</h2>
<body>
    <div>
        @Html.Action("Income", "Statistics")
        <br />
        @Html.Action("Consumption", "Statistics")
    </div>
</body>

