@{
    ViewBag.Title = "Home Page";
}
<div style="position: relative;">
    <canvas id="canvas" width="1200" height="250"></canvas>
    <script>
        var canvas = document.getElementById('canvas');
        var context = canvas.getContext('2d');
        var imageObj = new Image();

        imageObj.onload = function() {
            context.drawImage(imageObj, 0, 0);
        };

        imageObj.src = '../../Content/main.jpg';
    </script>
    <div style="position: absolute; bottom: 0; left: 10px">
        <h1 style="color: white; text-shadow: indigo 1px; vertical-align: bottom">
            Defence Store
        </h1>
        <h4 style="color: white; vertical-align: bottom">
            Test Test Test
        </h4>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-6" style="padding-right: 40px;">
        <h2>About us</h2>
        <br />
        <p class="three-col">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus</p>
    </div>
    <div class="col-md-6">
        <h2>Our Best Tests</h2>
        <video width="600" height="320" controls>
            <source src="~/Content/Intro.mp4" type="video/mp4">
        </video>
    </div>
</div>
