@{
    ViewBag.Title = "Home Page";
}

<div style="position: relative;">
    <canvas id="canvas" width="1200" height="250"></canvas>
    <script>
        var canvas = document.getElementById('canvas');
        var context = canvas.getContext('2d');
        var imageObj = new Image();

        imageObj.onload = function() {
            context.drawImage(imageObj, 0, 0);
        };

        imageObj.src = '../../Content/main.jpg';
    </script>
</div>
<br />
<div class="row">
    @Html.Action("Recommended", "Customers")
</div>
<div class="row">
    <div class="col-md-6" style="padding-right: 40px;">
        <div id="fb-root"></div>
        <script>
            (function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = 'https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.11&appId=127515004591775';
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
        </script>
        <div class="fb-page" data-href="https://www.facebook.com/DefenceStore-358735974554546" data-tabs="timeline" data-width="350" data-height="380" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/DefenceStore-358735974554546" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/DefenceStore-358735974554546">DefenceStore</a></blockquote></div>
    </div>
    <div class="col-md-6">
        <h2>Look Great On Uniform</h2>
        <video width="600" height="320" controls>
            <source src="~/Content/Intro.mp4" type="video/mp4">
        </video>
    </div>
</div>
<div class="row">
    <h2>About IDF Uniforms</h2>
    <br />
    <p class="six-col">The Israel Defense Forces has several types of uniforms:
        <b>Service dress (Madei Aleph)</b> - "Class A" uniform; everyday wear, worn by enlisted soldiers.
        <b>Field dress (Madei Bet)</b> - "Class B" uniform; worn into combat, training, work on base.
        <b>Officers / Ceremonial dress (Madei Srad)</b> - Ceremonial uniform; worn by non-commissioned officers, by commissioned officers above the rank seren or during special events/ceremonies.
        <b>Dress uniform and Mess dress </b>- worn only abroad. There are several dress uniforms depending on the season and the branch. Dress uniforms follow the American model and Mess Dress uniforms follow the British and Commonwealth pattern.
</p>
</div>
