@{
    ViewBag.Title = "Failed Login";
}
<div class="container" style="margin: 20px 0">
    Login failed, please check your login details and try again
    <br />
    <button style="margin: 20px 0">@Html.ActionLink("התחבר מחדש", "CustLogin", "Customers")</button>
</div>