@{
    ViewBag.Title = "Cart is empty!";
}

<h2>העגלה ריקה</h2>
<div>
    לא ניתן לבצע פעולות הזמנה ללא בחירת מוצרים מהחנות, אנא בחר מוצרים מעמוד המוצרים שלנו.
    <br />
    <h4>@Html.ActionLink("לעמוד המוצרים", "Index", "Products")</h4>
</div>

