@{
    ViewBag.Title = "User not found!";
}

<h2>לא זוהה משתמש</h2>
<div>
    לא ניתן לבצע פעולות הזמנה ללא התחברות למערכת, אנא 
    @Html.ActionLink("התחבר", "CustLogin", "Customers")
    <br/>
    במקרה ואת\ה מחובר אנא פנה לתמיכה.
</div>

