body {
    background-color: #DFDBE5;
    background-image: url("./topography.png");
    font-family: bob !important;
    font-size: 16px !important;
}
@font-face {
    font-family: bob;
    src: url("../fonts/Roboto-Light.ttf");
}
th {
    background: #39434a;
    color: white;
}
td {
    min-width: 132px;
    max-width: 450px;
    word-wrap: break-word;
}
a.edit {
    background: url(./editIcon.png) no-repeat top left;
    width: 20px;
    height: 20px;
    text-indent: -9999px; /* hides the link text */
    color: rgba(0,0,0,0);
    display: inline-flex
}
a.add {
    background: url(./addIcon.png) no-repeat top left;
    width: 20px;
    height: 20px;
    text-indent: -9999px; /* hides the link text */
    color: rgba(0,0,0,0);
    display: inline-flex
}
a.delete {
    background: url(./deleteIcon.png) no-repeat top left;
    width: 20px;
    height: 20px;
    text-indent: -9999px; /* hides the link text */
    color: rgba(0,0,0,0);
    display: inline-flex
}

a.share {
    background: url(./shareIcon.png) no-repeat top left;
    width: 20px;
    height: 20px;
    text-indent: -9999px; /* hides the link text */
    color: rgba(0,0,0,0);
    display: inline-flex
} 

a.details {
    background: url(./detailsIcon.png) no-repeat top left;
    width: 20px;
    height: 20px;
    text-indent: -9999px; /* hides the link text */
    color: rgba(0,0,0,0);
    display: inline-flex
}

.bd-navbar {
    min-height: 4rem;
    background-color: #563d7c;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,.05), inset 0 -1px 0 rgba(0,0,0,.1);
}

.bd-navbar .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
    color: #cdbfe3;
}

.navbar {
    border-radius: 0px !important;
}

.navLink {
    color: white;
}

.customNavbar {
    background-color: #3490e0 !important;
    transition: background-color 0.5s ease;
    padding-right: 15px;
    color: white;
}
nav:hover {
    background-color: lightseagreen !important;
}
canvas {
    border-radius: 4px;
}

nav {
    box-shadow: 0px 2px 2px rgba(0,0,0,0.2);
}

h2 {
    text-shadow: 0px 2px 2px rgba(0,0,0,0.15);
}

.three-col {
    -moz-column-count: 3;
    -moz-column-gap: 20px;
    -webkit-column-count: 3;
    -webkit-column-gap: 20px;
}

.bar {
    fill: dodgerblue;
}

.axis {
    font: 10px sans-serif;
}

.axis path, .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

body {
    font: 12px Arial;
}

path {
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}
